@page "/counter"
@rendermode InteractiveServer
@using BlazorApp1.Services;
<PageTitle>Counter</PageTitle>


@if(products != null){
    <table class="table">

        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    
                    <td>@product.id</td>
                    <td>@product.name</td>
                    <td>@product.description</td>
                    <td>@product.price</td>
                    <td>@product.category</td>
                    <td>@product.stock</td>
                    <td><button @onclick="() => deletedata(product.id)"><i>delete</i></button></td>
                    <td><button @=""><i>edit</i></button></td>
                </tr>
            }
        </tbody>

    </table>
}

<button @onclick="IncrementCount">Get</button>
@* <div>
    <input type="text" @bind="productName" />
    <input type="text" @bind="productId" />
    <input type="text" />
    <input type="text" />
    <input type="text" />
    <input type="text" />
    <button ">add</button>
 *@



@code{

    private int currentCount = 0;
    ProductService productService = new ProductService();
    List<Product> products;

    String productName, productId;
    private void IncrementCount()
    {
        currentCount++;

        products = productService.readProducts("file.xml");


    }

    private void addproducts()
    {
        productService.addProduct("file.xml", new Product(productName, productId, "", "", "",""));

    }
    private void deletedata(string id) 
    {
        var productToDelete = products.FirstOrDefault(p => p.id.Equals(id));

        productService.deleteProduct("file.xml", productToDelete);

    }

}
